h1 {
    font-size: 65px;
    font-family: sans-serif;
    color: orange;
}
.color {
    background-color: blueviolet;
}
p {
    font-weight: 600;
    font-size: 3em;
}
body {
    font-size: 16px;
}
ul {
    text-align:justify;
    text-decoration: underline;
    line-height: 30px;
    font-style: oblique;
    font-size: 1.3rem;
}
#linha1 {
    background-color: yellow;
}
#linha2{
    background-color: red;
}
#linha3{
    background-color: brown;
}